body {
	font-family: 'Inter', 'Segoe UI', 'Tahoma', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body, html {
	margin: 0;
	padding: 0;
	background: #FAFAFA;
	width: 100%;
	height: 100%;
}

pre {
	word-break: break-all;
    white-space: pre-wrap;
    font-family: 'Source Code Pro', 'Roboto Mono', monospace;
}

* {
	-webkit-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}